{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row["Symbol"]}}</td>
                    <td>{{row["Shares"]}}</td>
                    <td>{{row["Price"]}}</td>
                    <td>{{row["Time"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
